body{
    background:url(admin.jpg);
   margin-left:1%;
    color: pink;
  }
  
 
  .menu-item-has-children{
  
  font-size:15px;
  padding:5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  color:black;
  text-align: left;
  
  }
  a:link {
  text-decoration: none;
  color: black;
  
  
  
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    color: black;
  }
  
  a:active {
    text-decoration: none;
  
  }
  .header .user-area{
    margin-left:10%;
    margin-top:800px;
    color: black;
  }
  
  .top-right{
    margin-bottom:-60%;
    color:#DB7093;
  
  }
  
  
  .admin{
    color: #e75480;
    font-size: 20px;
  
  
}
.dropdown-toggle{
    float: right;
    margin-top:-12%;
    margin-right:80%;
    color:  #e75480;
}
